.container {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    text-align:center;
}

.drawer {
    text-align:center;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    transition: all 1s ease;
    position: relative;
    top: 100px;
    overflow:hidden;
}

.drawer:hover {
    height:20vh;
    width:50vw;
    overflow:hidden;
}

.container:hover .drawer {
    top: 10px;
    overflow:scroll;
}

