<h3 class="HeaderCenter">Brandon Vo</h3>
<h5 class="HeaderCenter">Web Programmer</h5>

<p class="HeaderCenter">I am a Computer Science Web Developer 
    who aspires to grow and develop my skills to build clean, effective interfaces to streamline workflow
    through user-intuitive design
</p>

@code{

}