<h1 class="HeaderCenter"><strong>Brandon Vo</strong></h1>
<h5 class="HeaderCenter"><strong>Web Programmer</strong></h5>

<div style="display:flex; justify-content:center">
    <p><strong>Email</strong>: brandondaivo@gmail.com</p>
    &emsp;
    <p><strong>GitHub</strong>: https://github.com/bvo4</p>
</div>

<p class="HeaderCenter">I am a Web Developer that graduated from
    Louisiana State University and New York University in Computer Science.  
    Since then, I aspire to grow and develop my skills to build clean, effective interfaces to streamline workflow
    through user-intuitive design
</p>

@code{

}