@using BlazorGHPages.Shared.Components;
@using BlazorGHPages.Shared.Education;

<div style="padding: 5px 20px;">

    <IntroductionHeader />
    <flex class="v DualTables" style="flex: 3; z-index:5; position:relative; overflow:visible">
        <flex-item id="FlexBoxTop" style="flex: 1;">
            <div class="Main">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Education">
                        <Degrees />
                    </MudTabPanel>
                    <MudTabPanel Text="Work Experience">
                        <WorkExperienceSection />
                    </MudTabPanel>
                    <MudTabPanel Text="Software & Languages">
                            <LibraryCarousel />
                    </MudTabPanel>
                </MudTabs>
            </div>
        </flex-item>
        <flex-resizer id="ResizerClick" />
        <flex class="v" style="flex: 0.5; z-index:5;">
            <flex-item id="FlexBoxBottom" style="flex: 1;">
                <div class="Sub">
                    <ContactFooter />
                </div>
            </flex-item>
        </flex>
    </flex>
</div>

@code {

}
