@using BlazorGHPages.Shared.Components;
@using BlazorGHPages.Shared.Education;

<div style="padding: 5px 20px;">
	<flex class="v" style="flex: 0.8; height: 98vh;">
		<flex-item style="flex: 1;">
            <IntroductionHeader />
        </flex-item>
		<flex-resizer/>
		<flex class="v" style="flex: 4; ">
            <flex-item style="flex: 2;">
                <div class="Main">
                    <MudTabs Color="@Color.Primary" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-0 MaxHeight">
                        <MudTabPanel Text="Education">
                            <Degrees />
                        </MudTabPanel>
                        <MudTabPanel Text="Work Experience">
                            <MudPaper Style="width:100%; height:100%;">
                                <WorkExperienceSection />
                            </MudPaper>
                        </MudTabPanel>
                        <MudTabPanel Text="Software & Languages">
                            <MudPaper>
                                <LibraryCarousel />
                            </MudPaper>
                        </MudTabPanel>
                    </MudTabs>
                </div>
            </flex-item>
		    <flex-resizer/>
            <flex-item style="flex: 0.4;">
                <div class="Sub">
                    <ContactFooter />
                </div>
            </flex-item>
	    </flex>
	</flex>

</div>

@code {

}
