@using BlazorGHPages.Shared.Components;
@using BlazorGHPages.Shared.Education;

<div style="padding: 5px 20px;">

    <IntroductionHeader />

    <Degrees />

    <WorkExperienceSection />

    <LibraryCarousel />

    <hr />

    <ContactFooter />
</div>

@code {

}
