@page "/youtube"

<h3>Swipe Test</h3>

<ContentView>
    <Label Text="@($"I was tapped {count} times")" FontSize="40">
        <TapGestureRecognizer OnTapped="@OnLabelTapped" />
    </Label>
</ContentView>

@code
{
    int count;

    void OnLabelTapped()
    {
        count++;
        StateHasChanged();
    }
}