<div class="bubbles">
    @for(int i = 0; i < 50; i++)
    {
        <span style="@GenerateOffSet()" />
    }
</div>

@code {
    public string GenerateOffSet()
    {
        Random rnd = new Random();
        return string.Format("--i:{0};", rnd.Next(1, 50));
    }
}
