<h3 class="align-self-center"><strong>Contacts</strong></h3>

<MudGrid>
    <MudItem>
        @*GitHub*@
        <MudCard>
            <MudCardContent>
                <MudButton>
                    <MudImage Alt="GitHub Link" Src="/Images/GitHub.png" />
                </MudButton>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem>
        @*LinkedIn*@
        <MudCard>
            <MudCardContent>
                <MudButton>
                    <MudImage Alt="LinkedIn Profile" Src="/Images/LinkedIn.png" />
                </MudButton>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {

}
