<h3 class="HeaderCenter text-white"><strong>Contacts</strong></h3>

<MudGrid Justify="Justify.Center">
    <MudItem>
        @*GitHub*@
        <MudCard>
            <MudCardContent>
                <MudButton>
                    <MudLink Href="https://github.com/bvo4">
                        <MudImage Alt="GitHub Link" Src="css/Images/GitHub.png" />
                    </MudLink>
                </MudButton>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem>
        @*LinkedIn*@
        <MudCard>
            <MudCardContent>
                <MudButton>
                    <MudLink Href="https://www.linkedin.com/in/brandon-vo-6761841b7/">
                        <MudImage Alt="LinkedIn Profile" Src="css/Images/LinkedIn.png" />
                    </MudLink>
                </MudButton>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>


@code {

}
