<div class="container drawer">
    @Language.Language
    <div class="drawer">
        <hr />
        <h3>@Language.Description</h3>
    </div>
</div>

@code {
    [Parameter] public ProgramLanguageModel Language{ get; set; }
}
