<div class="container">
    <strong style="text-align:center;">
        @Language.Language
    </strong>
    <div class="drawer" style="margin-top:5px">
        <h3>@Language.Description</h3>
    </div>
</div>

@code {
    [Parameter] public ProgramLanguageModel Language{ get; set; }
}
