
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;

<h3 class="HeaderCenter">Technical Skills</h3>

<MudGrid Style="align-content:center" Class="mud-width-full" >
	@foreach (ProgramLanguageModel Skill in Skills)
	{
		<MudItem>
			<div class="d-flex" style="height:100%">
				<LanguageCard Language="@Skill" />
			</div>
		</MudItem>
	}
</MudGrid>

@code {
	private List<ProgramLanguageModel> Skills { get; set; } = new List<ProgramLanguageModel>();
	private int Index { get; set; }

	protected override void OnInitialized()
	{
		LoadSkillSet();
		base.OnInitialized();
	}

	//Load SkillSets from .json
	public void LoadSkillSet()
	{
		Skills = new List<ProgramLanguageModel>();
		List<string> Test = Configuration.GetSection("Languages").Get <List<string>>();
		for(int i = 0; i < AllSkills.Languages.Count;i++)
		{
			Skills.Add(new ProgramLanguageModel()
			{
				Language = AllSkills.Languages[i],
				Description = AllSkills.Description[i],
				//Icon_URL = AllSkills.
			});
		}
	}
}
