<h3>Technical Skills</h3>

<MudGrid Class="mud-width-full" >
	@foreach(string Skill in Skills)
	{
		<MudItem>
			<div class="d-flex" style="height:100%">
				<LanguageCard Language="@Skill" />
			</div>
		</MudItem>
	}
</MudGrid>

@code {
	private IList<string> Skills { get; set; }
	private int Index { get; set; }

	protected override void OnInitialized()
	{
		LoadSkillSet();
		base.OnInitialized();
	}

	//Load SkillSets from .json
	public void LoadSkillSet()
	{
		Skills = AllSkills.Languages;
	}
}
