
<div class="align-center">
    <MudCard Class="BackgroundCardNYU" Style="width:40%; justify-content:center">
        <MudCardHeader>
            <CardHeaderContent>
                <div style="display:flex; justify-content:space-between">
                    <MudText Typo="Typo.h4">New York University, NY</MudText>
                    <MudImage Height="50" Src="css/Images/NYU.gif" />
                </div>
                <MudText Style="font-style:italic" Typo="Typo.h6">January 2021-May-2022</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <div style="display:flex; justify-content:space-between">
                <MudText><strong>Master's Degree</strong>:  Computer Science</MudText>
                <MudText Style="font-style:italic" Typo="Typo.body2">
                    GPA: 3.7/4.0
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
    <br />
    <MudCard Class="BackgroundCardLSU" Style="width:40%;">
        <MudCardHeader>
            <CardHeaderContent>
                <div style="display:flex; justify-content:space-between">
                <MudText Typo="Typo.h4">Louisiana State University</MudText>
                    <MudImage Style="mix-blend-mode:multiply;" Height="50" Src="css/Images/LSU.webp" />
                </div>
                <MudText Style="font-style:italic" Typo="Typo.h6">August 2015-December 2020</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <div style="display:flex; justify-content:space-between">
                <MudText><strong>B.S. Degree</strong>:  Computer Science</MudText>
                <MudText Style="font-style:italic" Typo="Typo.body2">
                    GPA: 3.87/4.0
                </MudText>
            </div>
            <MudText><strong>Minor</strong>:  Mathmatics & Business</MudText>
            <MudText Style="font-style:italic" Typo="Typo.body2">
                Magna Cum Laude
            </MudText>
        </MudCardContent>
    </MudCard>
</div>

@code {

}
