<MudCard Style="width:40%">
    <MudCardHeader>
        <CardHeaderContent>
            <div style="display:flex; justify-content:space-between">
                <MudText Typo="Typo.h4">New York University, NY</MudText>
                <MudText Style="font-style:italic" Typo="Typo.h6">January 2021-May-2022</MudText>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div style="display:flex; justify-content:space-between">
            <MudText>Master's Degree:  Computer Science</MudText>
            <MudText Style="font-style:italic" Typo="Typo.body2">
                GPA: 3.7/4.0
            </MudText>
        </div>
    </MudCardContent>
</MudCard>
<br />
<MudCard Style="width:40%">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Louisiana State University</MudText>
            <MudText Style="font-style:italic" Typo="Typo.h6">August 2015-December 2020</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div style="display:flex; justify-content:space-between">
            <MudText>Master's Degree:  Computer Science</MudText>
            <MudText Style="font-style:italic" Typo="Typo.body2">
                GPA: 3.87/4.0
            </MudText>
        </div>
        <MudText Style="font-style:italic" Typo="Typo.body2">
            Magna Cum Laude
        </MudText>
    </MudCardContent>
</MudCard>

@code {

}
